<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Appium.WebDriver" version="4.0.0.5-beta" targetFramework="net461" />
  <package id="Castle.Core" version="4.4.0" targetFramework="net461" />
  <package id="DotNetSeleniumExtras.PageObjects" version="3.11.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2-beta1" targetFramework="net461" />
  <package id="pdf-extract" version="1.0.1.0" targetFramework="net461" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="73.0.3683.68" targetFramework="net461" />
  <package id="Selenium.WebDriver.GeckoDriver.Win64" version="0.24.0" targetFramework="net461" />
</packages>